# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pot

# Coverage
.coverage
htmlcov/
*.cover

# Environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
*.env
.env.*

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django
local_settings.py
media/
staticfiles/
static/

# Docker
*.pid
*.bak
*.tar
*.gz
*.tgz
*.swp
*.swo
docker-compose.override.yml

# PostgreSQL dump files
*.sql

# Redis dump
dump.rdb

